bot_token:
telegraph_token:
telegraph_account:
telegraph_author_name:
telegraph_author_url:
socks5:
update_interval: 10
preview_text: 300 # 推送预览字符数，设为0可关闭
user_agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36

# 推送模板支持: SourceTitle、ContentTitle、RawLink、PreviewText、
# TelegraphURL、Tags、EnableTelegraph
message_mode: html
message_tpl: |-
  <b>{{.SourceTitle}}</b>
  {{if .EnableTelegraph}}<a href="{{.TelegraphURL}}">{{.ContentTitle}}</a> | <a href="{{.RawLink}}">原文</a>
  {{else}}<a href="{{.RawLink}}">{{.ContentTitle}}</a>
  {{end}}{{if .PreviewText}}
  {{.PreviewText}}
  {{end}}{{if .Tags}}{{.Tags}}
  {{end}}

mysql:
  host:
  port:
  user:
  password:
  database:

telegram:
  endpoint:

log:
  level: release
  db_log: false # 打印数据库日志，false则只会打印数据库错误日志

#  file: ./flowerss.log

sqlite:
  path: ./data.db

allowed_users:
